<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy="continue" data-provider-thread-count="2" >
    <test name="ALL Testcases" group-by-instances="true">
<!--        <parameter name="browser" value="ANDROID"/>-->
        <classes>
            <class name="awesomecucumber.runners.MyTestNGRunnerTest"/>
<!--            <class name="awesomecucumber.runners.FailedRunnerTests"/>-->
        </classes>
    </test> <!-- ANDROID -->
</suite> <!-- Suite -->